<nav class="desktop">
  <div class="menu clearfix">
    <a routerLink="" routerLinkActive="selected" 
      [routerLinkActiveOptions]="{exact: true}"
      class="btn btn-default"
      on-mouseover='onHover(0)'
      on-mouseleave='onMouseOut()'>
      <img src="/assets/img/logo.png" class="logo">
      <span class="light"
        [class.yellow]="yellowLight===0">
      </span>
    </a>
    <a routerLink="/hosting" 
      routerLinkActive="selected"
      class="btn btn-default"
      on-mouseover='onHover(1)'
      on-mouseleave='onMouseOut()'>
      <span class="glyphicon glyphicon-hdd"></span> Hosting
      <span class="light"
        [class.yellow]="yellowLight===1">
      </span>
    </a>
    <a routerLink="/websites"
      routerLinkActive="selected"
      class="btn btn-default"
      on-mouseover='onHover(2)'
      on-mouseleave='onMouseOut()'>
      <span class="glyphicon glyphicon-picture"></span> Websites
      <span class="light"
        [class.yellow]="yellowLight===2">
      </span>
    </a>
    <a routerLink="/webapps"
      routerLinkActive="selected"
      class="btn btn-default"
      on-mouseover='onHover(3)'
      on-mouseleave='onMouseOut()'>
      <span class="glyphicon glyphicon-stats"></span> Webapps
      <span class="light"
        [class.yellow]="yellowLight===3">
      </span>
    </a>
    <a routerLink="/portfolio"
      routerLinkActive="selected"
      class="btn btn-default"
      on-mouseover='onHover(4)'
      on-mouseleave='onMouseOut()'>
      <span class="glyphicon glyphicon-th-list"></span> Portfolio
      <span class="light"
        [class.yellow]="yellowLight===4">
      </span>
    </a>
    <a routerLink="/contact"
      routerLinkActive="selected"
      class="btn btn-default"
      on-mouseover='onHover(5)'
      on-mouseleave='onMouseOut()'>
      <span class="glyphicon glyphicon-pencil"></span> Contact
      <span class="light"
        [class.yellow]="yellowLight===5">
      </span>
    </a>
  </div>
</nav>

<nav class="mainnav mobile">

  <a routerLink="/"
    class="pull-left logo">
    <img src="/assets/img/logo.png">
  </a>
  <ul class="nav nav-pills nav-stacked">
    <li routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"
      [class.active] = "isActive('/')">
      <a routerLink="/" (click)="toggleActive($event)">
        Home
      </a>
    </li>
    <li routerLinkActive="active"
      [class.active] = "isActive('/hosting')">
      <a routerLink="hosting" (click)="toggleActive($event)">
        <span class="glyphicon glyphicon-hdd"></span> Hosting
      </a>
    </li>
    <li routerLinkActive="active"
      [class.active] = "isActive('/websites')">
      <a routerLink="websites" (click)="toggleActive($event)">
        <span class="glyphicon glyphicon-picture"></span> Websites
      </a>
    </li>
    <li routerLinkActive="active"
      [class.active] = "isActive('/webapps')">
      <a routerLink="webapps" (click)="toggleActive($event)">
        <span class="glyphicon glyphicon-stats"></span> Webapps
      </a>
    </li>
    <li routerLinkActive="active"
      [class.active] = "isActive('/portfolio')">
      <a routerLink="portfolio" (click)="toggleActive($event)">
        <span class="glyphicon glyphicon-list"></span> Portfolio
      </a>
    </li>
    <li routerLinkActive="active"
      [class.active] = "isActive('/contact')">
      <a routerLink="contact" (click)="toggleActive($event)">
        <span class="glyphicon glyphicon-pencil"></span> Contact
      </a>
    </li>
  </ul>
</nav>