.desktop {
  margin-top: 54px;
}
.desktop .menu .btn{
  font-size: 32px;
  margin-right: 12px;
  border-radius: 2px;
}
.btn {
  background-color: rgba(255, 255, 255, 0.1);
  color: #999;
  border: 0;
  padding: 6px 10px;
  border-radius: 6px;
}
.desktop .menu .btn {
  margin-right: 6px;
}
.btn:hover {
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  color: #fff;
}
.selected {
  background-color: rgba(255, 255, 255, 0.1);
  padding-bottom: 4px;
  border-bottom: 2px solid #eee;
  color: #eee;
}
.selected:hover {  
  padding-bottom: 4px;
  border-bottom: 2px solid #fff;
}
.logo {
  height: 36px;
  position: relative;
  left: 6px;
  top: -2px;
}
.light {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  top: -24px;
  right: -4px;
  position: relative;
}
.selected .light {
  background-color: rgb(43,226,0);
  box-shadow: inset 0px 1px 0px 0px rgba(250,250,250,0.5),
        0px 0px 3px 2px rgba(43,226,0,0.5);
}
.yellow {
  background-color: rgb(226,223,0);
  box-shadow: inset 0px 1px 0px 0px rgba(250,250,250,0.5),
        0px 0px 3px 2px rgba(226,223,0,0.5);
}
.red {
  background-color: rgb(226,0,0);
  box-shadow: inset 0px 1px 0px 0px rgba(250,250,250,0.5),
        0px 0px 3px 2px rgba(226,0,0,0.5);
}


/* Pool design */

:host-context(.pool) .btn {
  background-color: rgba(1, 77, 102, 0.9);
  color: #ddd;
}

:host-context(.pool) .selected .btn{
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 2px solid #fff;
  color: #eee;
}


/* 480, 768, 992, 1200 */
@media screen and (max-width:1199px) {
  .desktop .btn {
    font-size: 24px !important;
    line-height: 50px;
    height: 58px;
  }
}