.panel {
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 404px;
  margin-top: 44px;
  border: 2px solid white;
  border-radius: 6px;
  color: white;
  font-size: 26px;
  animation: slide 0.8s ease-out forwards;
}
img {
  border-right: 1px solid grey;
}
.txt {
  margin-left: 316px;
  padding: 8px;
}
.a404 .txt {
  margin-left: 416px;
  padding: 8px;
}
.txt a {
  color: white;
}
.txt.wide {
  margin-left: 16px;
}
h1 {
  font-size: 34px;
  margin-bottom: 30px;
  border-bottom: 1px solid grey;
  color: #ccc;
}
.content {
  padding-left: 12px;
  color: #eee;
}
.portfolio-item{
  display: inline-block;
  margin: 12px 10px;
  border: 2px solid white;
  width: 46%;
  min-width: 370px;
  border-radius: 4px;
  background-color: #b1d953;
  color: black;
  background: linear-gradient(to bottom, #b1d953 , #93c559);
  overflow: hidden;
}
.portfolio-item:hover {
  border-color: #b1d953;
}
.portfolio-item img{
  margin-right: 20px;
}
.portfolio-item .title {
  margin-bottom: 12px;
  border-bottom: 1px dotted black;
}
.portfolio-item .description {
  font-size: 16px;
}
.pdata {
  padding: 2px;
}
.clickable {
  cursor: pointer;
}

/* pool theme */

:host-context(.pool) .panel{
  background-color: rgba(1, 77, 102, 0.7);
  border-color: #fff;
  color: white;
}
:host-context(.pool) h1{
  color: white;
}
:host-context(.pool) .content {
  padding-left: 12px;
  color: #eee;
}

/* trees theme */

:host-context(.trees) .panel{
  background-color: rgba(0, 0, 0, 0.8);
}


/* animation */

@keyframes slide {
  0% {
    opacity: 0.2;
    transform: translateX(-110%) scale(1);
  }
  20% {
    transform: translateX(-100%) scale(1);
  }
  50% {
    transform: translateX(0) scale(1);
  }
  100% {
    opacity: 1;
  }
}

/* mobile */

@media screen and (max-width:991px) {
  .panel {
    min-height: 268px;
  }
  .txt {
    margin-left: 216px;
  }
  .page-img {height: 264px;}
  p {
    font-size: 20px;
  }
}


